/* 
This is where I set custom styling specifications for html tags. 
This allows me to reuse html components without repeatedly setting the same attributes for each time a tag is used.
*/


span {
    margin-left: 10px;
    font-size: 32px;
}

.nav-buttons {
    border-style: solid;
    border-color: rgb(240, 240, 67);
    border-width: 2px;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    
    background-color: rgb(240, 240, 67);
    color: black;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s ease;
}




button:hover {
    background-color: transparent;
    color: rgb(240, 240, 67);
}

a {
    text-decoration: none;
    color: white;
}

ul,
li {
    text-decoration: none;
}

footer {
    flex-shrink: 0;
    margin-top: 20px;
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-logo {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact-logo:hover{
    width: 100px;
    height: 100px;
}
.contact {
    font-size: 24px;
    color: white;
}

@media(max-width: 720px) {
    .contact-logo {
        width: 80px;
        height: 80px;
    }
    .navbar-buttons{
        display: none;
    }
}