/* 
This is where I set custom styling specifications for html tags. 
This allows me to reuse html components without repeatedly setting the same attributes for each time a tag is used.
*/


span {
    margin-left: 10px;
    font-size: 32px;
}

.nav-buttons {
    border-style: solid;
    border-color: rgb(240, 240, 67);
    border-width: 2px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    
    background-color: rgb(240, 240, 67);
    color: black;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.section-title{
    font-size: 32px;
}

.section{
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    
    
    background-color: rgb(240, 240, 67);
}
.nav-buttons:hover {
    background-color: transparent;
    color: rgb(240, 240, 67);
}

a {
    text-decoration: none;
    color: white;
}

ul,
li {
    text-decoration: none;
}



.contact-info {
    display: flex;
    align-items: center;
}

.contact-logo {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact-logo:hover{
    width: 100px;
    height: 100px;
}
.contact {
    font-size: 12px;
    color: white;
}
@media(max-width: 960px){
    .nav-buttons{
        display: none;
        
    }
}

