.background-image{
    background-image: url("../Assets/billiards-bg-2.jpg");
    position: fixed;
    z-index: -10;
    height: 100%;
    width: 100vw;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}
.navbar { 
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;  
    z-index: 100;
}
.navbar-buttons{
    display: flex;
    align-items: center;
    justify-content: end;
}
.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: start;   
    cursor: pointer;   
    border-radius: 5px;  
    margin: 10px;
}
.btn{
    margin-right: 30px;
    --bs-btn-color: black;
    --bs-btn-bg: yellow;
    --bs-btn-border-color: yellow;
    --bs-btn-hover-bg: rgb(214, 214, 31);
    --bs-btn-hover-border-color: rgb(214, 214, 31);
    --bs-btn-active-bg: rgb(214, 214, 31);
    --bs-btn-active-border-color: rgb(214, 214, 31);
}
.dropdown-menu{
    position: absolute;
    --bs-dropdown-color: black;
    --bs-dropdown-bg: rgb(238, 238, 34);
    --bs-dropdown-border-color: rgb(214, 214, 31);
    --bs-dropdown-link-hover-bg: rgb(172, 172, 23);
}
.navbar-logo img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
    margin-left: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.navbar-logo img:hover{
    height: 90px;
    width: 90px;
    border-color: yellow;   
}
.navbar-title {
    font-size: 24px;
    color: white;
}

.introduction-container {
    height: auto;   
}

.contacts-sections {
    background-color: black;
    width: 100%; 
}

.footer-title { 
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

.hours-section{
    margin-top: 20px;
    width: 100%;
    color: white;
    font-size: 12px;
    margin-left: 20px;
    
}
.schedule-headers{
    font-size: 12px;
    font-weight: 300px;
}

.directions{
    color: white;
    font-size: 12px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.billiards-picture img{
    width: 100%;   
    opacity: 0;
}

.introduction-content{
    z-index: 1;
    position: relative;
    color: yellow;
    top: 250px;
    left: 100px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 50%; 
}

.introduction-content h1{
    font-size: 36px;
}

.introduction-content p{
    font-size: 24px;  
}

.directions img{
    height: 450px;
    width: 700px;
    margin-right: 20px;
}

.footer{
    background-color: black;
    padding-bottom: 20px;
}

.footer-sections{
    margin-top: 20px;
    display: flex;
    align-items: start;
    background-color: black;
    height: 55vh;   
}

@media(max-width: 1080px){
    .introduction-content{
        top: 140px;
        
    }
    .introduction-content h1{
        font-size: 16px;

    }
    .introduction-content p{
        font-size: 12px;

    }
    .directions{
        flex-direction: column;
    }
    .directions img{
        height: 100px;
        width: 100px;
        margin-right: 20px;
    }
    .navbar-title{
        font-size: 12px;
    }
    .navbar-title span{
        font-size: 16px;
    }
    .navbar-logo img{    
        height: 50px;
        width: 50px;
    }
    .navbar-logo img:hover{
        height: 60px;
        width: 60px;
    }
    .navbar-logo h3{
        font-size: 16px;
    }
    
}

@media(max-width: 960px){
    .menu-icon{        
            display: block;
        
    }
}